.container{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: "fig1 movie movie movie movie fig2";
    height: 100vh;
}
    
.movie{
    width: 100%;
    grid-area: movie;
}
.chapters{
    grid-area: chapters;
    display: flex;
    height: 10rem;
    
}
.add-btn{
    background-color: tomato;
    border: none;
    font-size: 2rem;
    color: #c0c3dd;
    border-radius: 5%;
    position: fixed;
    bottom: 3.5rem;
    left: 50%;
    transform: translateX(-50%);
    width: 2rem;
    cursor: pointer;
}
figcaption{
    background-color: #3F3351;
    height: 5rem;
    width: 50%;
    overflow: scroll;
    overflow-x: hidden;
    color: #c0c3dd;
    text-align: center;
    font-size: 1.3rem;

}
.figcaption1{
    grid-area: fig1;
    border-right: solid 1px #8c96e0;
}

.figcaption2{
    grid-area: fig2; 
}

.cue{
    font-size: 1.5rem;
    margin: 0.5rem auto;
    padding: 0.5rem 0;
    background-color: rebeccapurple;
    width: 95%;
    text-align: center;
    list-style: none;
}
.select-movie{
    background-color: orangered;
}
.select-main-sub{
    background-color: orange;
}

.select-chap1{
    background-color: orchid;
}
.select-chap2{
    background-color: palegoldenrod;
}
 @media screen and (max-width: 1400px){
    .container{
        grid-template-areas: "movie movie movie movie movie movie"
        "chapters chapters chapters chapters chapters chapters";
    }
    figcaption{
    height: 35vh;
    }
}

.nav{
    width: 100%;
    height: 4rem;
    background-color: #864879;
    display: flex;
    justify-content: space-around;
    align-content: center;
}
a{
    text-decoration: none;
    color: #c28eb7;
    font-size: 1.3rem;
    border-bottom: 1px solid lightblue;
    align-self: center;
}