
.movies-titles{
    display: flex;
    margin: 1rem 0;

}
.movie-title{
    background-color: #4d1440;
    padding: 0.5rem 1rem;
    border-radius: 3%;
    font-size: large;
    margin-right: 1rem;
}
.active-movie-filter{
    background-color: #612954;
}

.heading{
    font-size: 3rem;
    width: 95%;
    height: 4rem;
    margin: 4rem auto;
}
.movie-card{
    width: 15rem;
    height: 17rem;
    background-color: #3F3351;
}
.movie-card__thumbnail{
    width: 100%;
    min-height: 10rem;
    background-color: #4d1440;
}
.list-container{
    display: grid;
    grid-template-columns: repeat(3, 33%);
    background-color: #3F3351;
    width: 95%;
    margin: 0 auto;
}
.col{
    border-left: 1px solid #864879;
    display: grid;
    justify-content: center;
}
.quote{
    background-color: #864879;
    margin: 0.3rem 0;
    padding: 0.3rem 1rem;
    list-style: none;
    width: fit-content;
    max-width: 90%;
    border-radius: 3%;
    font-size: 1.3rem;
}

